
body {
	font-family: Helvetica, Ariel;
	font-size: 22px;
	color: #444;
	text-align:center;
}

header { /*header of page*/
	height: 90px;
	background-color: blue;
	text-align: center;
	padding-top: 20px;
	color: white;
	font-size: 30px;
	text-shadow: 2px 2px black;
}

.back-button { /*back button linked to the previous page*/
	margin-left: 10px;
	padding: 20px 10px;
    width: 120px;
	border-radius: 10px;
    height: 30px;
	font-size: 20px;
	float: left;
	background-color: lightgray;
	border: 1px solid white;
	text-shadow: 0px 0px black; /*gets rid of the shadow*/
}

.container {
	width: 65%;
	font-family: "Lato", sans-serif;
	color: black; 
	margin: auto;
	padding-top: 1.5%;
	background: white;
	}
	
.r {
	height: 23px;
    width: 100%; }
	
.r .c {
    height: 100%;
    width: 14%;
    background: white;
    float: left; }
	
.times {
    width: 3%;
    margin-top: 40px;
    margin-bottom: 10px;
    padding-right: 1%;
    float: left;
    text-align: right;
    font-size: .75em; }
	
.times .r {
    margin: 1px 0; }
	
.days {
	width: 90%;
	float: right;
	text-align: center; }
table.schedule {
    width: 100%;
    padding: 0;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    -webkit-border-horizontal-spacing: 1px;
    -webkit-border-vertical-spacing: 0; }
tr.r {
    height: 22px; 
	margin: 1px 0;}
	
td.c {
    padding: 12px 0;
    outline: 1px solid black; }
	
.r .selected {
    background: green; }

.buttons{
	position:relative;
	top: 20px;
	width: 200px;
	height: 50px;
	font-size: 30px;
	margin: 0% 40%;
}